services:
  backend:
    build: ./backend
    container_name: backend
    command: npm run dev
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env.docker
    networks:
      - dev-network

  frontend:
    build: ./frontend
    container_name: frontend
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - dev-network

networks:
  dev-network:
    external: true
