{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["perfectionist", "prettier"],
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "no-alert": 0,
    "camelcase": 0,
    "no-console": 0,
    "no-undef": 2,
    "no-param-reassign": 0,
    "naming-convention": 0,
    "default-param-last": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-restricted-exports": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-promise-executor-return": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "no-nested-ternary": 0,
    "no-shadow": 0,
    "no-plusplus": 0,
    // "require-await": 2,
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ],
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],
    // perfectionist
    // https://eslint-plugin-perfectionist.azat.io/
    "perfectionist/sort-named-imports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ],
    "perfectionist/sort-named-exports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ],
    "perfectionist/sort-exports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ]
  }
}